/*@import url('css/Lato2OFL/Lato2OFL/Lato-Hairline.ttf');*/

@font-face {
	font-family: "Lato-Thin";
	src: url("Lato2OFL/Lato2OFL/Lato-Thin.ttf") format('truetype');
}

@font-face {
	font-family: "lato-hairline";
	src: url("Lato2OFL/Lato2OFL/Lato-Hairline.ttf") format('truetype');
}
html {
	height: 100%;
}

body {
	margin-top: 0;
	font-family: "Lato-Thin";
	font-weight: 100;
	background: url('../images/laptop.jpg');
	background-size: 100% 100%;
	z-index: -1;
	overflow-y: hidden; 
}

a {
	text-decoration: none;
	color: black;
}

#name {
	font-size: 96px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	position: relative;
	top: 100px;
	color: rgb(15, 9, 26);
}

#desc {
	font-family: "Lato-Thin";
	font-size: 25px;
	position: relative;
	top: 100px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.logo {
	height: 60px;
}

.social {
	position: relative;
	top: 180px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.logo:hover {
	height: 65px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 40px;
	line-height: 40px;
	background-color: #3B1F2D;
}

.text-muted {
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	text-align: center;
	color: white;
}